# Compiled files
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfstate.lock.info
# *.tfvars
# logs
*.log

# Directories
.terraform/
.idea

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf